.card {
    height: 310px;
    width: 500px;
    background-image: linear-gradient(rgba(255, 61, 61, 1), rgba(255, 61, 61, 0.8));
    border-radius: 20px;
    color: white;
    margin: 20px;
    font-size: 16px;
    box-shadow: 2px 2px 20px #707070;
}

.top-block {
    display: inline-block;
    width: 500px;
    height: 155px;
}

.bottom-block {
    display: inline-block;
    width: 500px;
    height: 155px;
}

.card-chip {
    float: left;
    margin: 20px;
}

.card-name {
    float: right;
    margin: 20px;
    position: relative;
    font-size: 28px;
    font-weight: 550;
}

.balance {
    float: left;
    margin: 20px;
    position: relative;
    top: 38px;
}

.card-balance {
    font-weight: 700;
    font-size: 30px;
    margin-top: 10px;
}

.card-icon {
    float: right;
    margin: 0 20px 0 0;
    margin-top: 75px;
}

.circle-left {
    margin-right: -15px;
    opacity: 0.7;
}

.card-number {
    font-size: 28px;
    margin: -15px 0 0 0;
    text-align-last: center;
}